[project]
name = "yugioh-forbidden-and-limited-list"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "cloudscraper>=1.2.71",
    "lxml>=6.0.2",
]
